article h2 {
    margin: 20px;
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    text-align: center;
    padding: 10px;
}