@font-face {
    font-family: 'roboto';
    src: url(../components/fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url(../components/fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');